:root {
	--ion-color-primary: #125B35 !important;
	--ion-color-primary-rgb: 18, 91, 53 !important;
	--ion-color-primary-contrast: #ffffff !important;
	--ion-color-primary-contrast-rgb: 255, 255, 255 !important;
	--ion-color-primary-shade: #4a6b9b !important;
	--ion-color-primary-tint: #6587b8 !important;
}

ion-col.header {
	background-image: url('../assets/images/background_home.png');
	background-color: #125B35;
	background-size: contain;
	background-repeat: no-repeat;
}

ion-content.home {
	background-color: #125B35;
}

@media screen and (min-width: 1650px) {
	ion-grid {
		--ion-grid-width-xl: 1440px;
	}	
}

.header-md {
	border-bottom: 1px #28744A solid;
	box-shadow: none;
}

ion-card.home {
	height: 100%;
	margin: 0;
	border-radius: 30px;
	--background: #3D8D5F;
}

ion-card.home:hover {
	--background: #3d8d607e;
}

ion-card-title.home {
	color: white;
	font-size: clamp(1.5rem, 5vw, 2.25rem);
	font-weight: bold;
	padding: 40px 40px 28px 40px;
}

ion-card-content.home {
	color: white;
	font-size: clamp(1rem, 4vw, 1.25rem);
	padding: 0 40px 40px 40px;
}

ion-col.home {
	display: flex;
	justify-content: end;
	align-items: end;
}

.sc-ion-buttons-md-h {
	display: block;
}

ion-content.home {
	--background: none;
	color: white;
}

h1.home {
	color: white;
  	padding: 60px 0 10px 0;
	font-size: clamp(2rem, 4vw, 3.75rem);
	font-weight: 700;
}

p.home {
	color: white;
	font-size: clamp(1rem, 5vw, 1.25rem);
	padding-bottom: 145px;
}

@media (max-width: 1920px) {
	p.home {
		padding-bottom: 70px;
	}
}

@media (max-width: 992px) {
	h1.home {
		padding: 0px 0 10px 0;
	}
	
}

@media screen and (max-width: 460px) {
	ion-col.test {
		background-image: none;
	}
	p.home {
		padding-bottom: 0px;
	}
}

.format-text {
	white-space: pre-line !important;
}
